In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../")

import src.soporte as sp


import seaborn as sns
import matplotlib.pyplot as plt
import pickle

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn import tree

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_score 
from sklearn.metrics import recall_score 
from sklearn.metrics import f1_score 
from sklearn.metrics import cohen_kappa_score

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier

from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import RandomizedSearchCV

from sklearn.preprocessing import RobustScaler

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")

In [3]:
print(df_train.shape, df_test.shape)

(40455, 11) (13485, 10)

In [4]:
df_train.head(3)

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.30  Premium     D     SI2   62.4   58.0  4.31  4.28  2.68  6.353
1   1   1.01    Ideal     E    VVS2   62.7   56.0  6.42  6.46  4.04  9.183
2   2   0.72    Ideal     F     VS2   61.8   59.0  5.71  5.74  3.54  7.983

In [5]:
df_train.drop("id", axis = 1, inplace = True)
df_test.drop("id", axis = 1, inplace = True)

In [6]:
df_train.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
df_train.describe()

,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.797576,61.746377,57.451694,5.729163,5.732896,3.537351,7.783822
std,0.475939,1.436796,2.234569,1.125244,1.154799,0.711002,1.016828
min,0.200000,43.000000,44.000000,0.000000,0.000000,0.000000,5.787000
25%,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,6.851000
50%,0.700000,61.800000,57.000000,5.690000,5.700000,3.520000,7.780000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.030000,8.581000
max,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000,9.842000

In [8]:
X = df_train.drop("price", axis = 1)
X

       carat        cut color clarity  depth  table     x     y     z
0       0.30    Premium     D     SI2   62.4   58.0  4.31  4.28  2.68
1       1.01      Ideal     E    VVS2   62.7   56.0  6.42  6.46  4.04
2       0.72      Ideal     F     VS2   61.8   59.0  5.71  5.74  3.54
3       1.08  Very Good     G     SI2   63.2   57.0  6.54  6.50  4.12
4       0.36    Premium     G     VS1   62.3   59.0  4.50  4.55  2.82
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
40450   0.42    Premium     D     SI2   62.1   59.0  4.78  4.82  2.98
40451   0.53    Premium     G     VS2   62.0   58.0  5.21  5.18  3.22
40452   0.80       Good     G     SI2   62.8   58.0  5.86  5.90  3.69
40453   1.01  Very Good     F     VS2   61.5   57.0  6.40  6.48  3.96
40454   1.30    Premium     I     VS2   60.1   58.0  7.10  7.14  4.28

[40455 rows x 9 columns]

In [9]:
y = df_train["price"]
y

0        6.353
1        9.183
2        7.983
3        8.371
4        6.588
         ...
40450    6.551
40451    7.382
40452    7.768
40453    8.726
40454    8.771
Name: price, Length: 40455, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) # test_size = 0.2 random_state

In [11]:
X_train = X_train.reset_index(drop = True)
X_test = X_test.reset_index(drop = True)
y_train = y_train.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [12]:
lista_columnas = X_train.select_dtypes(include=np.number).columns
lista_columnas

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [13]:
y_train

0        7.412
1        7.261
2        8.425
3        8.491
4        8.620
         ...
32359    8.258
32360    7.902
32361    7.775
32362    7.215
32363    7.503
Name: price, Length: 32364, dtype: float64

In [58]:
def detectar_outliers(lista_columnas, dataframe): 
    
    dicc_indices = {} # creamos un diccionario donde almacenaremos índices de los outliers
    
    # iteramos por la lista de las columnas numéricas de nuestro dataframe
    for col in lista_columnas:
        
        #calculamos los cuartiles Q1 y Q3
        Q1 = np.nanpercentile(dataframe[col], 25)
        Q3 = np.nanpercentile(dataframe[col], 75)
        
        # calculamos el rango intercuartil
        IQR = Q3 - Q1
        
        # calculamos los límites
        outlier_step = 1.5 * IQR
        
        # filtramos nuestro dataframe para indentificar los outliers
        outliers_data = dataframe[(dataframe[col] < Q1 - outlier_step) | (dataframe[col] > Q3 + outlier_step)]
        
        
        if outliers_data.shape[0] > 0: # chequeamos si nuestro dataframe tiene alguna fila. 
        
            dicc_indices[col] = (list(outliers_data.index)) # si tiene fila es que hay outliers y por lo tanto lo añadimos a nuestro diccionario
        

    
    return dicc_indices

In [60]:
lista_columnas = X_train.select_dtypes(include=np.number).columns
lista_columnas

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [61]:
ind = detectar_outliers(lista_columnas, X_train)
print(ind)

{'carat': [65, 91, 108, 109, 137, 179, 188, 201, 239, 243, 307, 331, 492, 498, 520, 549, 584, 692, 719, 733, 774, 824, 857, 882, 896, 944, 987, 1035, 1039, 1046, 1051, 1052, 1276, 1296, 1311, 1410, 1439, 1474, 1496, 1511, 1535, 1557, 1576, 1651, 1754, 1795, 1852, 1863, 1890, 1904, 1928, 1990, 2054, 2091, 2147, 2158, 2163, 2181, 2239, 2279, 2293, 2346, 2358, 2391, 2423, 2443, 2486, 2520, 2523, 2561, 2586, 2649, 2674, 2733, 2794, 2909, 2950, 2962, 2973, 2995, 3046, 3052, 3057, 3144, 3164, 3180, 3184, 3201, 3274, 3281, 3308, 3332, 3370, 3388, 3448, 3452, 3468, 3481, 3569, 3570, 3618, 3626, 3639, 3665, 3694, 3711, 3737, 3851, 3858, 3950, 3953, 3984, 3999, 4062, 4071, 4128, 4191, 4226, 4227, 4230, 4269, 4353, 4366, 4383, 4410, 4460, 4563, 4604, 4648, 4681, 4700, 4752, 4845, 4896, 4927, 4937, 5041, 5042, 5046, 5085, 5097, 5128, 5139, 5147, 5150, 5174, 5179, 5237, 5247, 5248, 5251, 5318, 5463, 5487, 5541, 5588, 5605, 5613, 5646, 5648, 5667, 5671, 5697, 5712, 5725, 5770, 5805, 5807, 5838, 5851, 5861, 5883, 6003, 6171, 6186, 6199, 6233, 6246, 6271, 6342, 6353, 6360, 6383, 6388, 6497, 6504, 6512, 6523, 6566, 6587, 6620, 6754, 6761, 6771, 6827, 6835, 6891, 6911, 6979, 7010, 7025, 7039, 7054, 7081, 7191, 7240, 7242, 7287, 7309, 7347, 7377, 7380, 7398, 7399, 7422, 7443, 7475, 7482, 7490, 7496, 7517, 7600, 7614, 7679, 7687, 7699, 7772, 7778, 7841, 7867, 7883, 7888, 7921, 7936, 7946, 7948, 8009, 8026, 8042, 8072, 8076, 8115, 8204, 8209, 8269, 8270, 8290, 8341, 8357, 8444, 8509, 8517, 8518, 8522, 8539, 8554, 8567, 8575, 8601, 8640, 8656, 8682, 8692, 8726, 8729, 8783, 8795, 8848, 8864, 8888, 9048, 9092, 9094, 9102, 9117, 9127, 9156, 9164, 9188, 9228, 9231, 9252, 9293, 9310, 9317, 9319, 9331, 9336, 9355, 9356, 9374, 9388, 9413, 9420, 9448, 9467, 9468, 9470, 9478, 9488, 9511, 9517, 9566, 9580, 9587, 9593, 9612, 9615, 9630, 9640, 9658, 9664, 9715, 9755, 9760, 9761, 9795, 9807, 9831, 9839, 9847, 9851, 9868, 9893, 9903, 9912, 9935, 9981, 10000, 10101, 10119, 10148, 10215, 10221, 10230, 10239, 10253, 10314, 10330, 10335, 10358, 10385, 10395, 10403, 10475, 10511, 10528, 10544, 10589, 10621, 10624, 10625, 10635, 10644, 10696, 10713, 10802, 10820, 10837, 10845, 10859, 10899, 10971, 10977, 10988, 10995, 11013, 11057, 11107, 11128, 11134, 11148, 11167, 11189, 11201, 11224, 11277, 11280, 11294, 11311, 11339, 11437, 11454, 11456, 11484, 11531, 11612, 11631, 11641, 11664, 11690, 11709, 11753, 11822, 11847, 11850, 11947, 11956, 11973, 11986, 11996, 12010, 12035, 12070, 12071, 12110, 12115, 12129, 12145, 12254, 12257, 12266, 12273, 12303, 12311, 12323, 12329, 12331, 12335, 12342, 12369, 12387, 12472, 12475, 12476, 12514, 12520, 12521, 12523, 12530, 12532, 12557, 12611, 12631, 12668, 12723, 12731, 12763, 12774, 12834, 12998, 13029, 13031, 13038, 13060, 13072, 13091, 13106, 13130, 13167, 13168, 13187, 13207, 13260, 13263, 13301, 13328, 13371, 13375, 13377, 13404, 13428, 13463, 13469, 13472, 13480, 13487, 13497, 13527, 13548, 13568, 13633, 13645, 13660, 13665, 13702, 13728, 13748, 13756, 13758, 13787, 13825, 13905, 13922, 13923, 13961, 13965, 14042, 14067, 14068, 14096, 14099, 14170, 14205, 14264, 14286, 14291, 14317, 14352, 14356, 14410, 14414, 14426, 14509, 14517, 14537, 14548, 14565, 14574, 14575, 14581, 14609, 14644, 14658, 14662, 14664, 14678, 14710, 14781, 14864, 14865, 14893, 14931, 14956, 14964, 14987, 15080, 15088, 15099, 15105, 15112, 15229, 15272, 15274, 15280, 15300, 15347, 15354, 15390, 15411, 15463, 15483, 15489, 15500, 15512, 15538, 15571, 15599, 15629, 15696, 15718, 15738, 15746, 15795, 15897, 15910, 15931, 15938, 15950, 15956, 15974, 15996, 16000, 16008, 16014, 16041, 16048, 16082, 16085, 16087, 16088, 16107, 16120, 16127, 16152, 16155, 16176, 16202, 16210, 16255, 16277, 16309, 16332, 16345, 16346, 16347, 16357, 16364, 16372, 16608, 16618, 16622, 16638, 16697, 16731, 16734, 16812, 16856, 16857, 16867, 17020, 17082, 17189, 17231, 17259, 17289, 17292, 17332, 17362, 17423, 17451, 17520, 17532, 17538, 17545, 17547, 17583, 17603, 17654, 17663, 17669, 17671, 17697, 17699, 17727, 17734, 17738, 17784, 17786, 17808, 17842, 17852, 17900, 17911, 17930, 18055, 18064, 18096, 18116, 18120, 18121, 18142, 18162, 18300, 18308, 18334, 18336, 18391, 18423, 18436, 18442, 18514, 18521, 18600, 18708, 18722, 18757, 18815, 18942, 18951, 18971, 19009, 19120, 19132, 19203, 19236, 19305, 19332, 19368, 19380, 19447, 19479, 19487, 19511, 19537, 19621, 19638, 19647, 19654, 19666, 19675, 19734, 19739, 19764, 19859, 19882, 19900, 19912, 19927, 19971, 19977, 20009, 20017, 20035, 20048, 20049, 20066, 20094, 20138, 20145, 20249, 20259, 20292, 20293, 20330, 20355, 20415, 20452, 20466, 20496, 20558, 20561, 20573, 20631, 20633, 20639, 20646, 20660, 20678, 20686, 20722, 20734, 20752, 20767, 20828, 20872, 20912, 20929, 20944, 20973, 20975, 21055, 21092, 21161, 21193, 21213, 21229, 21231, 21247, 21255, 21278, 21295, 21301, 21359, 21375, 21381, 21383, 21392, 21409, 21447, 21501, 21515, 21602, 21604, 21627, 21628, 21630, 21640, 21644, 21651, 21673, 21676, 21695, 21795, 21803, 21830, 21851, 21872, 21881, 21912, 21922, 21923, 21971, 22000, 22026, 22041, 22068, 22094, 22113, 22121, 22133, 22144, 22185, 22191, 22203, 22215, 22233, 22248, 22273, 22283, 22370, 22388, 22402, 22458, 22475, 22483, 22489, 22528, 22548, 22556, 22598, 22614, 22632, 22692, 22696, 22716, 22732, 22739, 22751, 22784, 22788, 22814, 22934, 22952, 22956, 22987, 23055, 23103, 23110, 23205, 23233, 23256, 23308, 23322, 23323, 23402, 23449, 23475, 23534, 23548, 23581, 23640, 23641, 23660, 23664, 23669, 23700, 23744, 23762, 23820, 23872, 23937, 23947, 23953, 23975, 24026, 24051, 24146, 24189, 24212, 24332, 24341, 24363, 24371, 24382, 24404, 24413, 24422, 24431, 24444, 24464, 24519, 24557, 24560, 24565, 24569, 24648, 24664, 24700, 24716, 24760, 24810, 24823, 24832, 24872, 24923, 24925, 24933, 24941, 25001, 25016, 25034, 25036, 25086, 25103, 25113, 25140, 25150, 25175, 25199, 25262, 25263, 25310, 25356, 25366, 25377, 25381, 25413, 25430, 25448, 25452, 25453, 25455, 25462, 25471, 25478, 25485, 25532, 25613, 25631, 25656, 25698, 25699, 25728, 25738, 25739, 25746, 25824, 25838, 25888, 25902, 25937, 25949, 25987, 25994, 25999, 26101, 26108, 26135, 26166, 26185, 26189, 26192, 26203, 26223, 26233, 26291, 26329, 26372, 26373, 26433, 26489, 26552, 26601, 26634, 26710, 26747, 26771, 26792, 26793, 26858, 26878, 26915, 26934, 26961, 27007, 27033, 27066, 27089, 27096, 27120, 27125, 27166, 27173, 27183, 27205, 27216, 27230, 27273, 27302, 27337, 27351, 27375, 27377, 27460, 27534, 27556, 27566, 27574, 27583, 27626, 27630, 27725, 27751, 27757, 27795, 27813, 27838, 27855, 27871, 27880, 27898, 27913, 27948, 27966, 28015, 28052, 28094, 28108, 28114, 28145, 28196, 28246, 28265, 28292, 28351, 28411, 28470, 28477, 28533, 28537, 28563, 28607, 28617, 28648, 28668, 28783, 28795, 28836, 28898, 28925, 29024, 29044, 29077, 29125, 29164, 29185, 29225, 29233, 29261, 29277, 29313, 29323, 29339, 29355, 29375, 29382, 29390, 29401, 29442, 29446, 29448, 29454, 29467, 29516, 29529, 29531, 29534, 29540, 29543, 29561, 29580, 29651, 29680, 29688, 29723, 29730, 29784, 29786, 29793, 29896, 29899, 29918, 29926, 29938, 29948, 29950, 29976, 29988, 29999, 30053, 30061, 30068, 30125, 30130, 30140, 30151, 30158, 30164, 30167, 30192, 30201, 30225, 30284, 30299, 30343, 30352, 30394, 30499, 30565, 30607, 30608, 30642, 30720, 30736, 30766, 30778, 30788, 30796, 30855, 30883, 30900, 30927, 30934, 30941, 30980, 31033, 31036, 31084, 31114, 31131, 31136, 31147, 31169, 31185, 31198, 31202, 31220, 31249, 31277, 31359, 31368, 31371, 31408, 31424, 31426, 31428, 31439, 31479, 31486, 31498, 31544, 31579, 31624, 31626, 31640, 31659, 31701, 31708, 31757, 31769, 31778, 31833, 31873, 31876, 31962, 31996, 32018, 32058, 32087, 32104, 32122, 32136, 32166, 32180, 32248, 32262, 32350, 32356], 'depth': [30, 72, 99, 104, 226, 264, 273, 284, 287, 326, 386, 402, 429, 483, 513, 520, 614, 623, 642, 667, 668, 689, 700, 719, 724, 733, 740, 759, 794, 819, 843, 857, 984, 1008, 1048, 1057, 1086, 1104, 1106, 1120, 1138, 1142, 1143, 1160, 1191, 1216, 1236, 1241, 1256, 1268, 1270, 1273, 1294, 1319, 1343, 1349, 1360, 1370, 1377, 1444, 1461, 1473, 1486, 1488, 1521, 1530, 1532, 1536, 1541, 1550, 1577, 1583, 1592, 1614, 1664, 1678, 1687, 1697, 1708, 1746, 1758, 1762, 1794, 1802, 1805, 1860, 1867, 1934, 1947, 1963, 1966, 1985, 2013, 2042, 2067, 2085, 2114, 2138, 2200, 2252, 2255, 2271, 2272, 2283, 2321, 2339, 2366, 2372, 2383, 2393, 2402, 2404, 2421, 2445, 2480, 2504, 2533, 2587, 2603, 2610, 2680, 2727, 2728, 2729, 2772, 2809, 2858, 2873, 2893, 2910, 2919, 2931, 2988, 3001, 3064, 3078, 3080, 3084, 3101, 3105, 3108, 3160, 3218, 3281, 3297, 3330, 3360, 3361, 3384, 3399, 3408, 3421, 3432, 3443, 3453, 3455, 3487, 3508, 3529, 3534, 3544, 3582, 3634, 3691, 3701, 3717, 3733, 3743, 3751, 3760, 3799, 3802, 3806, 3813, 3872, 3881, 3930, 3941, 3950, 3980, 3987, 3995, 4028, 4030, 4060, 4062, 4064, 4090, 4110, 4146, 4164, 4202, 4227, 4244, 4253, 4255, 4262, 4271, 4304, 4335, 4366, 4398, 4434, 4441, 4451, 4461, 4470, 4545, 4550, 4632, 4648, 4726, 4732, 4737, 4755, 4828, 4838, 4863, 4867, 4889, 4896, 4902, 4917, 4920, 4963, 4964, 4974, 4985, 4988, 4993, 4996, 5001, 5002, 5004, 5066, 5074, 5081, 5120, 5177, 5179, 5180, 5214, 5258, 5268, 5274, 5287, 5317, 5402, 5403, 5433, 5474, 5477, 5516, 5522, 5535, 5551, 5588, 5595, 5617, 5633, 5661, 5665, 5687, 5703, 5705, 5710, 5733, 5750, 5785, 5795, 5897, 5911, 5914, 5990, 5997, 6029, 6034, 6065, 6066, 6089, 6125, 6157, 6181, 6186, 6234, 6239, 6282, 6283, 6288, 6289, 6293, 6321, 6330, 6429, 6439, 6487, 6492, 6499, 6505, 6512, 6515, 6523, 6534, 6548, 6572, 6594, 6620, 6665, 6672, 6696, 6704, 6712, 6715, 6735, 6742, 6767, 6795, 6807, 6819, 6820, 6840, 6868, 6914, 6924, 6940, 6945, 6968, 7002, 7025, 7032, 7058, 7063, 7094, 7122, 7127, 7134, 7140, 7159, 7176, 7206, 7226, 7253, 7259, 7261, 7263, 7278, 7287, 7292, 7305, 7352, 7361, 7372, 7401, 7413, 7420, 7434, 7437, 7457, 7473, 7489, 7529, 7580, 7581, 7587, 7589, 7590, 7591, 7644, 7651, 7654, 7683, 7813, 7815, 7832, 7839, 7841, 7851, 7861, 7876, 7921, 7941, 7949, 7960, 7965, 8005, 8042, 8056, 8059, 8068, 8078, 8092, 8200, 8225, 8246, 8253, 8261, 8264, 8352, 8384, 8409, 8416, 8426, 8440, 8466, 8486, 8489, 8495, 8537, 8574, 8600, 8614, 8621, 8625, 8631, 8674, 8689, 8705, 8727, 8728, 8748, 8764, 8782, 8843, 8864, 8875, 8881, 8887, 8888, 8922, 8955, 8959, 8995, 9002, 9005, 9009, 9021, 9104, 9152, 9199, 9203, 9253, 9266, 9276, 9301, 9318, 9380, 9410, 9420, 9421, 9453, 9454, 9467, 9499, 9503, 9506, 9511, 9545, 9563, 9568, 9575, 9603, 9637, 9644, 9713, 9747, 9757, 9764, 9765, 9784, 9818, 9824, 9830, 9873, 9910, 9931, 9935, 9936, 9953, 9978, 9983, 10011, 10013, 10017, 10020, 10058, 10062, 10078, 10083, 10130, 10132, 10165, 10178, 10179, 10198, 10222, 10242, 10310, 10373, 10383, 10392, 10401, 10415, 10459, 10470, 10484, 10513, 10530, 10540, 10553, 10564, 10613, 10624, 10635, 10647, 10650, 10657, 10665, 10690, 10700, 10722, 10725, 10764, 10765, 10771, 10777, 10813, 10828, 10844, 10895, 10901, 10910, 10926, 10929, 10958, 10962, 10982, 10993, 11063, 11071, 11075, 11162, 11165, 11173, 11178, 11180, 11189, 11195, 11229, 11231, 11294, 11315, 11327, 11328, 11331, 11334, 11339, 11356, 11357, 11390, 11392, 11434, 11448, 11476, 11482, 11486, 11497, 11536, 11541, 11543, 11547, 11571, 11574, 11590, 11601, 11603, 11625, 11651, 11664, 11674, 11692, 11702, 11713, 11728, 11759, 11789, 11820, 11843, 11884, 11889, 11893, 11927, 11935, 12016, 12089, 12110, 12112, 12115, 12151, 12166, 12179, 12189, 12213, 12222, 12231, 12265, 12266, 12282, 12288, 12346, 12364, 12369, 12425, 12431, 12441, 12443, 12463, 12472, 12475, 12490, 12501, 12503, 12535, 12537, 12547, 12559, 12613, 12616, 12668, 12699, 12707, 12711, 12713, 12721, 12725, 12758, 12773, 12791, 12797, 12813, 12829, 12841, 12848, 12869, 12872, 12879, 12882, 12925, 12955, 12973, 12974, 13027, 13034, 13091, 13101, 13128, 13144, 13163, 13208, 13235, 13249, 13250, 13251, 13279, 13288, 13291, 13321, 13353, 13378, 13417, 13425, 13475, 13481, 13548, 13559, 13606, 13652, 13719, 13757, 13764, 13771, 13783, 13813, 13825, 13826, 13840, 13858, 13864, 13869, 13872, 13884, 13949, 13952, 13960, 13977, 13978, 14001, 14040, 14053, 14065, 14119, 14237, 14238, 14263, 14331, 14355, 14358, 14360, 14369, 14389, 14400, 14481, 14485, 14501, 14518, 14569, 14572, 14585, 14599, 14613, 14616, 14624, 14651, 14657, 14658, 14686, 14765, 14767, 14771, 14796, 14820, 14831, 14834, 14837, 14851, 14864, 14911, 14922, 14928, 14943, 14956, 14965, 14986, 14987, 15035, 15122, 15129, 15147, 15155, 15167, 15179, 15199, 15239, 15272, 15312, 15361, 15370, 15393, 15402, 15403, 15421, 15465, 15485, 15502, 15509, 15517, 15559, 15591, 15610, 15658, 15669, 15692, 15706, 15712, 15746, 15758, 15795, 15809, 15812, 15826, 15831, 15835, 15840, 15845, 15863, 15882, 15894, 15900, 15903, 15976, 15996, 16006, 16024, 16031, 16032, 16048, 16050, 16071, 16085, 16104, 16125, 16126, 16169, 16195, 16210, 16227, 16240, 16313, 16334, 16336, 16337, 16348, 16354, 16355, 16377, 16380, 16386, 16397, 16430, 16469, 16474, 16488, 16497, 16514, 16515, 16528, 16598, 16610, 16618, 16654, 16672, 16677, 16683, 16700, 16701, 16710, 16717, 16719, 16721, 16728, 16765, 16804, 16814, 16818, 16830, 16845, 16847, 16869, 16883, 16895, 16941, 16958, 17007, 17024, 17049, 17076, 17104, 17107, 17141, 17176, 17201, 17213, 17234, 17254, 17259, 17281, 17316, 17342, 17379, 17417, 17437, 17438, 17446, 17454, 17498, 17535, 17538, 17608, 17624, 17657, 17663, 17697, 17738, 17740, 17766, 17811, 17842, 17847, 17891, 17968, 17977, 17998, 18037, 18048, 18067, 18085, 18090, 18097, 18107, 18132, 18204, 18214, 18272, 18343, 18353, 18377, 18382, 18405, 18410, 18424, 18474, 18476, 18490, 18560, 18567, 18616, 18649, 18661, 18698, 18740, 18771, 18773, 18816, 18847, 18862, 18863, 18956, 18957, 18994, 18998, 19052, 19096, 19136, 19170, 19174, 19230, 19251, 19260, 19284, 19299, 19302, 19333, 19338, 19344, 19372, 19377, 19388, 19442, 19447, 19448, 19458, 19460, 19482, 19510, 19567, 19599, 19607, 19644, 19690, 19705, 19719, 19765, 19827, 19846, 19867, 19900, 19941, 19985, 19998, 20025, 20031, 20040, 20046, 20047, 20055, 20084, 20100, 20120, 20125, 20136, 20155, 20167, 20171, 20195, 20197, 20234, 20260, 20305, 20333, 20360, 20361, 20364, 20385, 20394, 20404, 20432, 20446, 20448, 20455, 20508, 20518, 20530, 20533, 20536, 20623, 20660, 20680, 20691, 20716, 20722, 20731, 20774, 20782, 20793, 20846, 20858, 20896, 20911, 20929, 20969, 20999, 21029, 21031, 21051, 21065, 21072, 21077, 21125, 21135, 21148, 21151, 21161, 21163, 21185, 21227, 21242, 21245, 21255, 21264, 21266, 21275, 21452, 21454, 21470, 21493, 21505, 21525, 21534, 21535, 21546, 21551, 21560, 21566, 21580, 21586, 21591, 21604, 21657, 21665, 21687, 21710, 21721, 21763, 21768, 21771, 21804, 21823, 21846, 21868, 21894, 21934, 21938, 21955, 21964, 21991, 21996, 22004, 22008, 22019, 22046, 22063, 22076, 22086, 22105, 22116, 22125, 22127, 22128, 22151, 22170, 22171, 22178, 22208, 22246, 22251, 22265, 22349, 22362, 22441, 22458, 22486, 22528, 22538, 22566, 22584, 22586, 22593, 22600, 22611, 22670, 22674, 22684, 22690, 22716, 22739, 22754, 22784, 22801, 22805, 22828, 22834, 22842, 22879, 22898, 22905, 22967, 22986, 22996, 23056, 23095, 23110, 23127, 23148, 23149, 23153, 23177, 23205, 23208, 23229, 23268, 23283, 23312, 23316, 23318, 23320, 23350, 23416, 23420, 23441, 23451, 23462, 23464, 23466, 23483, 23523, 23533, 23540, 23548, 23552, 23579, 23623, 23632, 23659, 23680, 23688, 23706, 23725, 23730, 23736, 23744, 23747, 23763, 23771, 23810, 23844, 23855, 23864, 23889, 23894, 23899, 23918, 23937, 23984, 24037, 24043, 24051, 24128, 24176, 24184, 24212, 24214, 24230, 24259, 24267, 24375, 24385, 24387, 24408, 24415, 24422, 24435, 24515, 24550, 24560, 24584, 24636, 24666, 24677, 24729, 24767, 24773, 24848, 24851, 24856, 24916, 24944, 24991, 25020, 25022, 25115, 25135, 25158, 25160, 25161, 25174, 25192, 25195, 25297, 25304, 25314, 25346, 25362, 25367, 25376, 25403, 25409, 25433, 25473, 25500, 25509, 25512, 25513, 25530, 25555, 25577, 25649, 25668, 25674, 25685, 25717, 25729, 25734, 25789, 25793, 25815, 25829, 25833, 25863, 25871, 25951, 25971, 25974, 26022, 26030, 26066, 26099, 26118, 26135, 26160, 26234, 26267, 26300, 26301, 26310, 26318, 26329, 26330, 26368, 26421, 26423, 26435, 26458, 26483, 26495, 26547, 26552, 26605, 26608, 26628, 26634, 26636, 26645, 26693, 26707, 26709, 26725, 26728, 26753, 26828, 26834, 26852, 26907, 26917, 26934, 27002, 27016, 27043, 27052, 27054, 27089, 27118, 27119, 27125, 27152, 27216, 27230, 27261, 27262, 27286, 27298, 27313, 27338, 27341, 27348, 27380, 27405, 27415, 27474, 27478, 27510, 27515, 27535, 27542, 27554, 27576, 27577, 27586, 27601, 27622, 27654, 27727, 27732, 27743, 27752, 27760, 27788, 27796, 27813, 27847, 27854, 27880, 27883, 27921, 27935, 27946, 27997, 28019, 28022, 28024, 28050, 28052, 28068, 28069, 28073, 28103, 28109, 28190, 28213, 28214, 28246, 28257, 28265, 28290, 28313, 28318, 28360, 28377, 28434, 28446, 28459, 28461, 28474, 28582, 28606, 28608, 28618, 28625, 28631, 28644, 28648, 28655, 28678, 28697, 28715, 28732, 28751, 28828, 28865, 28881, 28943, 29009, 29013, 29023, 29090, 29111, 29126, 29180, 29224, 29233, 29295, 29313, 29345, 29351, 29370, 29379, 29388, 29428, 29440, 29452, 29460, 29467, 29481, 29490, 29567, 29587, 29603, 29618, 29669, 29672, 29673, 29697, 29709, 29714, 29725, 29745, 29874, 29886, 29900, 29938, 29949, 29968, 29992, 29999, 30022, 30048, 30065, 30068, 30076, 30086, 30121, 30122, 30163, 30166, 30184, 30201, 30211, 30216, 30241, 30257, 30284, 30290, 30320, 30337, 30353, 30378, 30396, 30430, 30446, 30450, 30469, 30470, 30473, 30475, 30483, 30513, 30536, 30543, 30696, 30732, 30800, 30812, 30839, 30871, 30909, 30920, 30954, 30984, 31000, 31011, 31026, 31036, 31045, 31108, 31112, 31149, 31158, 31170, 31191, 31198, 31210, 31217, 31220, 31226, 31231, 31334, 31347, 31366, 31448, 31560, 31574, 31619, 31620, 31641, 31657, 31659, 31688, 31748, 31757, 31814, 31857, 31908, 31909, 31911, 31928, 31943, 31946, 31972, 31990, 31999, 32034, 32046, 32080, 32084, 32114, 32121, 32130, 32146, 32175, 32176, 32179, 32182, 32188, 32196, 32255, 32261, 32263, 32271, 32289, 32297, 32343], 'table': [32, 149, 292, 326, 601, 689, 754, 946, 1008, 1039, 1048, 1120, 1236, 1275, 1581, 1678, 1860, 1895, 2073, 2193, 2272, 2354, 2379, 2532, 2919, 2925, 3259, 3297, 3334, 3701, 3802, 3842, 3972, 4062, 4143, 4362, 4502, 4545, 4550, 4781, 4838, 4996, 5049, 5074, 5179, 5232, 5464, 5492, 5665, 5697, 5725, 5857, 5862, 5914, 6209, 6240, 6288, 6293, 6471, 6779, 6795, 6920, 6943, 7039, 7092, 7274, 7287, 7292, 7298, 7322, 7367, 7434, 7473, 7490, 7590, 7591, 7645, 7949, 8022, 8054, 8431, 8463, 8489, 8625, 8824, 8877, 9009, 9021, 9036, 9075, 9203, 9276, 9323, 9353, 9429, 9589, 9637, 9651, 9663, 9712, 9830, 9972, 10017, 10083, 10101, 10179, 10201, 10392, 10397, 10518, 10530, 10554, 10613, 10700, 10707, 10717, 11060, 11152, 11197, 11231, 11293, 11315, 11328, 11331, 11398, 11627, 11642, 11713, 11728, 11893, 11935, 12266, 12346, 12535, 12571, 12756, 12758, 12773, 12813, 12955, 13011, 13027, 13199, 13208, 13536, 13551, 13652, 13801, 13922, 14020, 14049, 14263, 14355, 14383, 14445, 14544, 14585, 14651, 14831, 14839, 14911, 14928, 14993, 15055, 15167, 15209, 15337, 15370, 15390, 15403, 15864, 15883, 15894, 15900, 15910, 15973, 16104, 16237, 16334, 16394, 16432, 16717, 16719, 16818, 17038, 17473, 17648, 17657, 17675, 17885, 17906, 17990, 17999, 18139, 18201, 18272, 18309, 18346, 18475, 18499, 18548, 18694, 18730, 18750, 18771, 18915, 18956, 19073, 19226, 19282, 19510, 19719, 19779, 19833, 19875, 19881, 20014, 20195, 20198, 20234, 20327, 20376, 20389, 20473, 20597, 20599, 20604, 20660, 20919, 21179, 21185, 21334, 21394, 21515, 21591, 21596, 21823, 21857, 21916, 22063, 22124, 22137, 22151, 22203, 22349, 22397, 22690, 22898, 22905, 23140, 23149, 23463, 23494, 23553, 23614, 23633, 23647, 23670, 23680, 23721, 23763, 23770, 24156, 24307, 24456, 24558, 24577, 24711, 24740, 24944, 25007, 25022, 25109, 25169, 25187, 25223, 25342, 25352, 25409, 25472, 25500, 25530, 25765, 25974, 25996, 

In [62]:
valores = list(ind.values())

In [63]:
# hacemos una list comprehension para aplanar nuestra lista de listas

valores = [indice for sublista in valores for indice in sublista]
print(valores)

[65, 91, 108, 109, 137, 179, 188, 201, 239, 243, 307, 331, 492, 498, 520, 549, 584, 692, 719, 733, 774, 824, 857, 882, 896, 944, 987, 1035, 1039, 1046, 1051, 1052, 1276, 1296, 1311, 1410, 1439, 1474, 1496, 1511, 1535, 1557, 1576, 1651, 1754, 1795, 1852, 1863, 1890, 1904, 1928, 1990, 2054, 2091, 2147, 2158, 2163, 2181, 2239, 2279, 2293, 2346, 2358, 2391, 2423, 2443, 2486, 2520, 2523, 2561, 2586, 2649, 2674, 2733, 2794, 2909, 2950, 2962, 2973, 2995, 3046, 3052, 3057, 3144, 3164, 3180, 3184, 3201, 3274, 3281, 3308, 3332, 3370, 3388, 3448, 3452, 3468, 3481, 3569, 3570, 3618, 3626, 3639, 3665, 3694, 3711, 3737, 3851, 3858, 3950, 3953, 3984, 3999, 4062, 4071, 4128, 4191, 4226, 4227, 4230, 4269, 4353, 4366, 4383, 4410, 4460, 4563, 4604, 4648, 4681, 4700, 4752, 4845, 4896, 4927, 4937, 5041, 5042, 5046, 5085, 5097, 5128, 5139, 5147, 5150, 5174, 5179, 5237, 5247, 5248, 5251, 5318, 5463, 5487, 5541, 5588, 5605, 5613, 5646, 5648, 5667, 5671, 5697, 5712, 5725, 5770, 5805, 5807, 5838, 5851, 5861, 5883, 6003, 6171, 6186, 6199, 6233, 6246, 6271, 6342, 6353, 6360, 6383, 6388, 6497, 6504, 6512, 6523, 6566, 6587, 6620, 6754, 6761, 6771, 6827, 6835, 6891, 6911, 6979, 7010, 7025, 7039, 7054, 7081, 7191, 7240, 7242, 7287, 7309, 7347, 7377, 7380, 7398, 7399, 7422, 7443, 7475, 7482, 7490, 7496, 7517, 7600, 7614, 7679, 7687, 7699, 7772, 7778, 7841, 7867, 7883, 7888, 7921, 7936, 7946, 7948, 8009, 8026, 8042, 8072, 8076, 8115, 8204, 8209, 8269, 8270, 8290, 8341, 8357, 8444, 8509, 8517, 8518, 8522, 8539, 8554, 8567, 8575, 8601, 8640, 8656, 8682, 8692, 8726, 8729, 8783, 8795, 8848, 8864, 8888, 9048, 9092, 9094, 9102, 9117, 9127, 9156, 9164, 9188, 9228, 9231, 9252, 9293, 9310, 9317, 9319, 9331, 9336, 9355, 9356, 9374, 9388, 9413, 9420, 9448, 9467, 9468, 9470, 9478, 9488, 9511, 9517, 9566, 9580, 9587, 9593, 9612, 9615, 9630, 9640, 9658, 9664, 9715, 9755, 9760, 9761, 9795, 9807, 9831, 9839, 9847, 9851, 9868, 9893, 9903, 9912, 9935, 9981, 10000, 10101, 10119, 10148, 10215, 10221, 10230, 10239, 10253, 10314, 10330, 10335, 10358, 10385, 10395, 10403, 10475, 10511, 10528, 10544, 10589, 10621, 10624, 10625, 10635, 10644, 10696, 10713, 10802, 10820, 10837, 10845, 10859, 10899, 10971, 10977, 10988, 10995, 11013, 11057, 11107, 11128, 11134, 11148, 11167, 11189, 11201, 11224, 11277, 11280, 11294, 11311, 11339, 11437, 11454, 11456, 11484, 11531, 11612, 11631, 11641, 11664, 11690, 11709, 11753, 11822, 11847, 11850, 11947, 11956, 11973, 11986, 11996, 12010, 12035, 12070, 12071, 12110, 12115, 12129, 12145, 12254, 12257, 12266, 12273, 12303, 12311, 12323, 12329, 12331, 12335, 12342, 12369, 12387, 12472, 12475, 12476, 12514, 12520, 12521, 12523, 12530, 12532, 12557, 12611, 12631, 12668, 12723, 12731, 12763, 12774, 12834, 12998, 13029, 13031, 13038, 13060, 13072, 13091, 13106, 13130, 13167, 13168, 13187, 13207, 13260, 13263, 13301, 13328, 13371, 13375, 13377, 13404, 13428, 13463, 13469, 13472, 13480, 13487, 13497, 13527, 13548, 13568, 13633, 13645, 13660, 13665, 13702, 13728, 13748, 13756, 13758, 13787, 13825, 13905, 13922, 13923, 13961, 13965, 14042, 14067, 14068, 14096, 14099, 14170, 14205, 14264, 14286, 14291, 14317, 14352, 14356, 14410, 14414, 14426, 14509, 14517, 14537, 14548, 14565, 14574, 14575, 14581, 14609, 14644, 14658, 14662, 14664, 14678, 14710, 14781, 14864, 14865, 14893, 14931, 14956, 14964, 14987, 15080, 15088, 15099, 15105, 15112, 15229, 15272, 15274, 15280, 15300, 15347, 15354, 15390, 15411, 15463, 15483, 15489, 15500, 15512, 15538, 15571, 15599, 15629, 15696, 15718, 15738, 15746, 15795, 15897, 15910, 15931, 15938, 15950, 15956, 15974, 15996, 16000, 16008, 16014, 16041, 16048, 16082, 16085, 16087, 16088, 16107, 16120, 16127, 16152, 16155, 16176, 16202, 16210, 16255, 16277, 16309, 16332, 16345, 16346, 16347, 16357, 16364, 16372, 16608, 16618, 16622, 16638, 16697, 16731, 16734, 16812, 16856, 16857, 16867, 17020, 17082, 17189, 17231, 17259, 17289, 17292, 17332, 17362, 17423, 17451, 17520, 17532, 17538, 17545, 17547, 17583, 17603, 17654, 17663, 17669, 17671, 17697, 17699, 17727, 17734, 17738, 17784, 17786, 17808, 17842, 17852, 17900, 17911, 17930, 18055, 18064, 18096, 18116, 18120, 18121, 18142, 18162, 18300, 18308, 18334, 18336, 18391, 18423, 18436, 18442, 18514, 18521, 18600, 18708, 18722, 18757, 18815, 18942, 18951, 18971, 19009, 19120, 19132, 19203, 19236, 19305, 19332, 19368, 19380, 19447, 19479, 19487, 19511, 19537, 19621, 19638, 19647, 19654, 19666, 19675, 19734, 19739, 19764, 19859, 19882, 19900, 19912, 19927, 19971, 19977, 20009, 20017, 20035, 20048, 20049, 20066, 20094, 20138, 20145, 20249, 20259, 20292, 20293, 20330, 20355, 20415, 20452, 20466, 20496, 20558, 20561, 20573, 20631, 20633, 20639, 20646, 20660, 20678, 20686, 20722, 20734, 20752, 20767, 20828, 20872, 20912, 20929, 20944, 20973, 20975, 21055, 21092, 21161, 21193, 21213, 21229, 21231, 21247, 21255, 21278, 21295, 21301, 21359, 21375, 21381, 21383, 21392, 21409, 21447, 21501, 21515, 21602, 21604, 21627, 21628, 21630, 21640, 21644, 21651, 21673, 21676, 21695, 21795, 21803, 21830, 21851, 21872, 21881, 21912, 21922, 21923, 21971, 22000, 22026, 22041, 22068, 22094, 22113, 22121, 22133, 22144, 22185, 22191, 22203, 22215, 22233, 22248, 22273, 22283, 22370, 22388, 22402, 22458, 22475, 22483, 22489, 22528, 22548, 22556, 22598, 22614, 22632, 22692, 22696, 22716, 22732, 22739, 22751, 22784, 22788, 22814, 22934, 22952, 22956, 22987, 23055, 23103, 23110, 23205, 23233, 23256, 23308, 23322, 23323, 23402, 23449, 23475, 23534, 23548, 23581, 23640, 23641, 23660, 23664, 23669, 23700, 23744, 23762, 23820, 23872, 23937, 23947, 23953, 23975, 24026, 24051, 24146, 24189, 24212, 24332, 24341, 24363, 24371, 24382, 24404, 24413, 24422, 24431, 24444, 24464, 24519, 24557, 24560, 24565, 24569, 24648, 24664, 24700, 24716, 24760, 24810, 24823, 24832, 24872, 24923, 24925, 24933, 24941, 25001, 25016, 25034, 25036, 25086, 25103, 25113, 25140, 25150, 25175, 25199, 25262, 25263, 25310, 25356, 25366, 25377, 25381, 25413, 25430, 25448, 25452, 25453, 25455, 25462, 25471, 25478, 25485, 25532, 25613, 25631, 25656, 25698, 25699, 25728, 25738, 25739, 25746, 25824, 25838, 25888, 25902, 25937, 25949, 25987, 25994, 25999, 26101, 26108, 26135, 26166, 26185, 26189, 26192, 26203, 26223, 26233, 26291, 26329, 26372, 26373, 26433, 26489, 26552, 26601, 26634, 26710, 26747, 26771, 26792, 26793, 26858, 26878, 26915, 26934, 26961, 27007, 27033, 27066, 27089, 27096, 27120, 27125, 27166, 27173, 27183, 27205, 27216, 27230, 27273, 27302, 27337, 27351, 27375, 27377, 27460, 27534, 27556, 27566, 27574, 27583, 27626, 27630, 27725, 27751, 27757, 27795, 27813, 27838, 27855, 27871, 27880, 27898, 27913, 27948, 27966, 28015, 28052, 28094, 28108, 28114, 28145, 28196, 28246, 28265, 28292, 28351, 28411, 28470, 28477, 28533, 28537, 28563, 28607, 28617, 28648, 28668, 28783, 28795, 28836, 28898, 28925, 29024, 29044, 29077, 29125, 29164, 29185, 29225, 29233, 29261, 29277, 29313, 29323, 29339, 29355, 29375, 29382, 29390, 29401, 29442, 29446, 29448, 29454, 29467, 29516, 29529, 29531, 29534, 29540, 29543, 29561, 29580, 29651, 29680, 29688, 29723, 29730, 29784, 29786, 29793, 29896, 29899, 29918, 29926, 29938, 29948, 29950, 29976, 29988, 29999, 30053, 30061, 30068, 30125, 30130, 30140, 30151, 30158, 30164, 30167, 30192, 30201, 30225, 30284, 30299, 30343, 30352, 30394, 30499, 30565, 30607, 30608, 30642, 30720, 30736, 30766, 30778, 30788, 30796, 30855, 30883, 30900, 30927, 30934, 30941, 30980, 31033, 31036, 31084, 31114, 31131, 31136, 31147, 31169, 31185, 31198, 31202, 31220, 31249, 31277, 31359, 31368, 31371, 31408, 31424, 31426, 31428, 31439, 31479, 31486, 31498, 31544, 31579, 31624, 31626, 31640, 31659, 31701, 31708, 31757, 31769, 31778, 31833, 31873, 31876, 31962, 31996, 32018, 32058, 32087, 32104, 32122, 32136, 32166, 32180, 32248, 32262, 32350, 32356, 30, 72, 99, 104, 226, 264, 273, 284, 287, 326, 386, 402, 429, 483, 513, 520, 614, 623, 642, 667, 668, 689, 700, 719, 724, 733, 740, 759, 794, 819, 843, 857, 984, 1008, 1048, 1057, 1086, 1104, 1106, 1120, 1138, 1142, 1143, 1160, 1191, 1216, 1236, 1241, 1256, 1268, 1270, 1273, 1294, 1319, 1343, 1349, 1360, 1370, 1377, 1444, 1461, 1473, 1486, 1488, 1521, 1530, 1532, 1536, 1541, 1550, 1577, 1583, 1592, 1614, 1664, 1678, 1687, 1697, 1708, 1746, 1758, 1762, 1794, 1802, 1805, 1860, 1867, 1934, 1947, 1963, 1966, 1985, 2013, 2042, 2067, 2085, 2114, 2138, 2200, 2252, 2255, 2271, 2272, 2283, 2321, 2339, 2366, 2372, 2383, 2393, 2402, 2404, 2421, 2445, 2480, 2504, 2533, 2587, 2603, 2610, 2680, 2727, 2728, 2729, 2772, 2809, 2858, 2873, 2893, 2910, 2919, 2931, 2988, 3001, 3064, 3078, 3080, 3084, 3101, 3105, 3108, 3160, 3218, 3281, 3297, 3330, 3360, 3361, 3384, 3399, 3408, 3421, 3432, 3443, 3453, 3455, 3487, 3508, 3529, 3534, 3544, 3582, 3634, 3691, 3701, 3717, 3733, 3743, 3751, 3760, 3799, 3802, 3806, 3813, 3872, 3881, 3930, 3941, 3950, 3980, 3987, 3995, 4028, 4030, 4060, 4062, 4064, 4090, 4110, 4146, 4164, 4202, 4227, 4244, 4253, 4255, 4262, 4271, 4304, 4335, 4366, 4398, 4434, 4441, 4451, 4461, 4470, 4545, 4550, 4632, 4648, 4726, 4732, 4737, 4755, 4828, 4838, 4863, 4867, 4889, 4896, 4902, 4917, 4920, 4963, 4964, 4974, 4985, 4988, 4993, 4996, 5001, 5002, 5004, 5066, 5074, 5081, 5120, 5177, 5179, 5180, 5214, 5258, 5268, 5274, 5287, 5317, 5402, 5403, 5433, 5474, 5477, 5516, 5522, 5535, 5551, 5588, 5595, 5617, 5633, 5661, 5665, 5687, 5703, 5705, 5710, 5733, 5750, 5785, 5795, 5897, 5911, 5914, 5990, 5997, 6029, 6034, 6065, 6066, 6089, 6125, 6157, 6181, 6186, 6234, 6239, 6282, 6283, 6288, 6289, 6293, 6321, 6330, 6429, 6439, 6487, 6492, 6499, 6505, 6512, 6515, 6523, 6534, 6548, 6572, 6594, 6620, 6665, 6672, 6696, 6704, 6712, 6715, 6735, 6742, 6767, 6795, 6807, 6819, 6820, 6840, 6868, 6914, 6924, 6940, 6945, 6968, 7002, 7025, 7032, 7058, 7063, 7094, 7122, 7127, 7134, 7140, 7159, 7176, 7206, 7226, 7253, 7259, 7261, 7263, 7278, 7287, 7292, 7305, 7352, 7361, 7372, 7401, 7413, 7420, 7434, 7437, 7457, 7473, 7489, 7529, 7580, 7581, 7587, 7589, 7590, 7591, 7644, 7651, 7654, 7683, 7813, 7815, 7832, 7839, 7841, 7851, 7861, 7876, 7921, 7941, 7949, 7960, 7965, 8005, 8042, 8056, 8059, 8068, 8078, 8092, 8200, 8225, 8246, 8253, 8261, 8264, 8352, 8384, 8409, 8416, 8426, 8440, 8466, 8486, 8489, 8495, 8537, 8574, 8600, 8614, 8621, 8625, 8631, 8674, 8689, 8705, 8727, 8728, 8748, 8764, 8782, 8843, 8864, 8875, 8881, 8887, 8888, 8922, 8955, 8959, 8995, 9002, 9005, 9009, 9021, 9104, 9152, 9199, 9203, 9253, 9266, 9276, 9301, 9318, 9380, 9410, 9420, 9421, 9453, 9454, 9467, 9499, 9503, 9506, 9511, 9545, 9563, 9568, 9575, 9603, 9637, 9644, 9713, 9747, 9757, 9764, 9765, 9784, 9818, 9824, 9830, 9873, 9910, 9931, 9935, 9936, 9953, 9978, 9983, 10011, 10013, 10017, 10020, 10058, 10062, 10078, 10083, 10130, 10132, 10165, 10178, 10179, 10198, 10222, 10242, 10310, 10373, 10383, 10392, 10401, 10415, 10459, 10470, 10484, 10513, 10530, 10540, 10553, 10564, 10613, 10624, 10635, 10647, 10650, 10657, 10665, 10690, 10700, 10722, 10725, 10764, 10765, 10771, 10777, 10813, 10828, 10844, 10895, 10901, 10910, 10926, 10929, 10958, 10962, 10982, 10993, 11063, 11071, 11075, 11162, 11165, 11173, 11178, 11180, 11189, 11195, 11229, 11231, 11294, 11315, 11327, 11328, 11331, 11334, 11339, 11356, 11357, 11390, 11392, 11434, 11448, 11476, 11482, 11486, 11497, 11536, 11541, 11543, 11547, 11571, 11574, 11590, 11601, 11603, 11625, 11651, 11664, 11674, 11692, 11702, 11713, 11728, 11759, 11789, 11820, 11843, 11884, 11889, 11893, 11927, 11935, 12016, 12089, 12110, 12112, 12115, 12151, 12166, 12179, 12189, 12213, 12222, 12231, 12265, 12266, 12282, 12288, 12346, 12364, 12369, 12425, 12431, 12441, 12443, 12463, 12472, 12475, 12490, 12501, 12503, 12535, 12537, 12547, 12559, 12613, 12616, 12668, 12699, 12707, 12711, 12713, 12721, 12725, 12758, 12773, 12791, 12797, 12813, 12829, 12841, 12848, 12869, 12872, 12879, 12882, 12925, 12955, 12973, 12974, 13027, 13034, 13091, 13101, 13128, 13144, 13163, 13208, 13235, 13249, 13250, 13251, 13279, 13288, 13291, 13321, 13353, 13378, 13417, 13425, 13475, 13481, 13548, 13559, 13606, 13652, 13719, 13757, 13764, 13771, 13783, 13813, 13825, 13826, 13840, 13858, 13864, 13869, 13872, 13884, 13949, 13952, 13960, 13977, 13978, 14001, 14040, 14053, 14065, 14119, 14237, 14238, 14263, 14331, 14355, 14358, 14360, 14369, 14389, 14400, 14481, 14485, 14501, 14518, 14569, 14572, 14585, 14599, 14613, 14616, 14624, 14651, 14657, 14658, 14686, 14765, 14767, 14771, 14796, 14820, 14831, 14834, 14837, 14851, 14864, 14911, 14922, 14928, 14943, 14956, 14965, 14986, 14987, 15035, 15122, 15129, 15147, 15155, 15167, 15179, 15199, 15239, 15272, 15312, 15361, 15370, 15393, 15402, 15403, 15421, 15465, 15485, 15502, 15509, 15517, 15559, 15591, 15610, 15658, 15669, 15692, 15706, 15712, 15746, 15758, 15795, 15809, 15812, 15826, 15831, 15835, 15840, 15845, 15863, 15882, 15894, 15900, 15903, 15976, 15996, 16006, 16024, 16031, 16032, 16048, 16050, 16071, 16085, 16104, 16125, 16126, 16169, 16195, 16210, 16227, 16240, 16313, 16334, 16336, 16337, 16348, 16354, 16355, 16377, 16380, 16386, 16397, 16430, 16469, 16474, 16488, 16497, 16514, 16515, 16528, 16598, 16610, 16618, 16654, 16672, 16677, 16683, 16700, 16701, 16710, 16717, 16719, 16721, 16728, 16765, 16804, 16814, 16818, 16830, 16845, 16847, 16869, 16883, 16895, 16941, 16958, 17007, 17024, 17049, 17076, 17104, 17107, 17141, 17176, 17201, 17213, 17234, 17254, 17259, 17281, 17316, 17342, 17379, 17417, 17437, 17438, 17446, 17454, 17498, 17535, 17538, 17608, 17624, 17657, 17663, 17697, 17738, 17740, 17766, 17811, 17842, 17847, 17891, 17968, 17977, 17998, 18037, 18048, 18067, 18085, 18090, 18097, 18107, 18132, 18204, 18214, 18272, 18343, 18353, 18377, 18382, 18405, 18410, 18424, 18474, 18476, 18490, 18560, 18567, 18616, 18649, 18661, 18698, 18740, 18771, 18773, 18816, 18847, 18862, 18863, 18956, 18957, 18994, 18998, 19052, 19096, 19136, 19170, 19174, 19230, 19251, 19260, 19284, 19299, 19302, 19333, 19338, 19344, 19372, 19377, 19388, 19442, 19447, 19448, 19458, 19460, 19482, 19510, 19567, 19599, 19607, 19644, 19690, 19705, 19719, 19765, 19827, 19846, 19867, 19900, 19941, 19985, 19998, 20025, 20031, 20040, 20046, 20047, 20055, 20084, 20100, 20120, 20125, 20136, 20155, 20167, 20171, 20195, 20197, 20234, 20260, 20305, 20333, 20360, 20361, 20364, 20385, 20394, 20404, 20432, 20446, 20448, 20455, 20508, 20518, 20530, 20533, 20536, 20623, 20660, 20680, 20691, 20716, 20722, 20731, 20774, 20782, 20793, 20846, 20858, 20896, 20911, 20929, 20969, 20999, 21029, 21031, 21051, 21065, 21072, 21077, 21125, 21135, 21148, 21151, 21161, 21163, 21185, 21227, 21242, 21245, 21255, 21264, 21266, 21275, 21452, 21454, 21470, 21493, 21505, 21525, 21534, 21535, 21546, 21551, 21560, 21566, 21580, 21586, 21591, 21604, 21657, 21665, 21687, 21710, 21721, 21763, 21768, 21771, 21804, 21823, 21846, 21868, 21894, 21934, 21938, 21955, 21964, 21991, 21996, 22004, 22008, 22019, 22046, 22063, 22076, 22086, 22105, 22116, 22125, 22127, 22128, 22151, 22170, 22171, 22178, 22208, 22246, 22251, 22265, 22349, 22362, 22441, 22458, 22486, 22528, 22538, 22566, 22584, 22586, 22593, 22600, 22611, 22670, 22674, 22684, 22690, 22716, 22739, 22754, 22784, 22801, 22805, 22828, 22834, 22842, 22879, 22898, 22905, 22967, 22986, 22996, 23056, 23095, 23110, 23127, 23148, 23149, 23153, 23177, 23205, 23208, 23229, 23268, 23283, 23312, 23316, 23318, 23320, 23350, 23416, 23420, 23441, 23451, 23462, 23464, 23466, 23483, 23523, 23533, 23540, 23548, 23552, 23579, 23623, 23632, 23659, 23680, 23688, 23706, 23725, 23730, 23736, 23744, 23747, 23763, 23771, 23810, 23844, 23855, 23864, 23889, 23894, 23899, 23918, 23937, 23984, 24037, 24043, 24051, 24128, 24176, 24184, 24212, 24214, 24230, 24259, 24267, 24375, 24385, 24387, 24408, 24415, 24422, 24435, 24515, 24550, 24560, 24584, 24636, 24666, 24677, 24729, 24767, 24773, 24848, 24851, 24856, 24916, 24944, 24991, 25020, 25022, 25115, 25135, 25158, 25160, 25161, 25174, 25192, 25195, 25297, 25304, 25314, 25346, 25362, 25367, 25376, 25403, 25409, 25433, 25473, 25500, 25509, 25512, 25513, 25530, 25555, 25577, 25649, 25668, 25674, 25685, 25717, 25729, 25734, 25789, 25793, 25815, 25829, 25833, 25863, 25871, 25951, 25971, 25974, 26022, 26030, 26066, 26099, 26118, 26135, 26160, 26234, 26267, 26300, 26301, 26310, 26318, 26329, 26330, 26368, 26421, 26423, 26435, 26458, 26483, 26495, 26547, 26552, 26605, 26608, 26628, 26634, 26636, 26645, 26693, 26707, 26709, 26725, 26728, 26753, 26828, 26834, 26852, 26907, 26917, 26934, 27002, 27016, 27043, 27052, 27054, 27089, 27118, 27119, 27125, 27152, 27216, 27230, 27261, 27262, 27286, 27298, 27313, 27338, 27341, 27348, 27380, 27405, 27415, 27474, 27478, 27510, 27515, 27535, 27542, 27554, 27576, 27577, 27586, 27601, 27622, 27654, 27727, 27732, 27743, 27752, 27760, 27788, 27796, 27813, 27847, 27854, 27880, 27883, 27921, 27935, 27946, 27997, 28019, 28022, 28024, 28050, 28052, 28068, 28069, 28073, 28103, 28109, 28190, 28213, 28214, 28246, 28257, 28265, 28290, 28313, 28318, 28360, 28377, 28434, 28446, 28459, 28461, 28474, 28582, 28606, 28608, 28618, 28625, 28631, 28644, 28648, 28655, 28678, 28697, 28715, 28732, 28751, 28828, 28865, 28881, 28943, 29009, 29013, 29023, 29090, 29111, 29126, 29180, 29224, 29233, 29295, 29313, 29345, 29351, 29370, 29379, 29388, 29428, 29440, 29452, 29460, 29467, 29481, 29490, 29567, 29587, 29603, 29618, 29669, 29672, 29673, 29697, 29709, 29714, 29725, 29745, 29874, 29886, 29900, 29938, 29949, 29968, 29992, 29999, 30022, 30048, 30065, 30068, 30076, 30086, 30121, 30122, 30163, 30166, 30184, 30201, 30211, 30216, 30241, 30257, 30284, 30290, 30320, 30337, 30353, 30378, 30396, 30430, 30446, 30450, 30469, 30470, 30473, 30475, 30483, 30513, 30536, 30543, 30696, 30732, 30800, 30812, 30839, 30871, 30909, 30920, 30954, 30984, 31000, 31011, 31026, 31036, 31045, 31108, 31112, 31149, 31158, 31170, 31191, 31198, 31210, 31217, 31220, 31226, 31231, 31334, 31347, 31366, 31448, 31560, 31574, 31619, 31620, 31641, 31657, 31659, 31688, 31748, 31757, 31814, 31857, 31908, 31909, 31911, 31928, 31943, 31946, 31972, 31990, 31999, 32034, 32046, 32080, 32084, 32114, 32121, 32130, 32146, 32175, 32176, 32179, 32182, 32188, 32196, 32255, 32261, 32263, 32271, 32289, 32297, 32343, 32, 149, 292, 326, 601, 689, 754, 946, 1008, 1039, 1048, 1120, 1236, 1275, 1581, 1678, 1860, 1895, 2073, 2193, 2272, 2354, 2379, 2532, 2919, 2925, 3259, 3297, 3334, 3701, 3802, 3842, 3972, 4062, 4143, 4362, 4502, 4545, 4550, 4781, 4838, 4996, 5049, 5074, 5179, 5232, 5464, 5492, 5665, 5697, 5725, 5857, 5862, 5914, 6209, 6240, 6288, 6293, 6471, 6779, 6795, 6920, 6943, 7039, 7092, 7274, 7287, 7292, 7298, 7322, 7367, 7434, 7473, 7490, 7590, 7591, 7645, 7949, 8022, 8054, 8431, 8463, 8489, 8625, 8824, 8877, 9009, 9021, 9036, 9075, 9203, 9276, 9323, 9353, 9429, 9589, 9637, 9651, 9663, 9712, 9830, 9972, 10017, 10083, 10101, 10179, 10201, 10392, 10397, 10518, 10530, 10554, 10613, 10700, 10707, 10717, 11060, 11152, 11197, 11231, 11293, 11315, 11328, 11331, 11398, 11627, 11642, 11713, 11728, 11893, 11935, 12266, 12346, 12535, 12571, 12756, 12758, 12773, 12813, 12955, 13011, 13027, 13199, 13208, 13536, 13551, 13652, 13801, 13922, 14020, 14049, 14263, 14355, 14383, 14445, 14544, 14585, 14651, 14831, 14839, 14911, 14928, 14993, 15055, 15167, 15209, 15337, 15370, 15390, 15403, 15864, 15883, 15894, 15900, 15910, 15973, 16104, 16237, 16334, 16394, 16432, 16717, 16719, 16818, 17038, 17473, 17648, 17657, 17675, 17885, 17906, 17990, 17999, 18139, 18201, 18272, 18309, 18346, 18475, 18499, 18548, 18694, 18730, 18750, 18771, 18915, 18956, 19073, 19226, 19282, 19510, 19719, 19779, 19833, 19875, 19881, 20014, 20195, 20198, 20234, 20327, 20376, 20389, 20473, 20597, 20599, 20604, 20660, 20919, 21179, 21185, 21334, 21394, 21515, 21591, 21596, 21823, 21857, 21916, 22063, 22124, 22137, 22151, 22203, 22349, 22397, 22690, 22898, 22905, 23140, 23149, 23463, 23494, 23553, 23614, 23633, 23647, 23670, 23680, 23721, 23763, 23770, 24156, 24307, 24456, 24558, 24577, 24711, 24740, 24944, 25007, 25022, 25109, 25169, 25187, 25223, 25342, 25352, 25409, 25472, 25500, 25530, 25765, 25974, 25996, 26024, 26292, 26329, 26398, 2643

In [17]:
valores = set(valores) # funcion que devuelve un diccionario con valores no repetidos (eliminacion de outliers)

In [18]:
# nos hacems¡os una copia del dataframe original

X_sin_outliers = X_train.copy()

In [19]:
X_sin_outliers

       carat        cut color clarity  depth  table     x     y     z
0       0.51    Premium     E     VS2   62.5   59.0  5.06  5.11  3.18
1       0.61       Good     D     SI2   59.8   62.0  5.48  5.53  3.29
2       1.01       Good     H     SI1   63.3   58.0  6.37  6.40  4.04
3       1.16    Premium     H     SI2   61.8   58.0  6.81  6.75  4.19
4       1.00    Premium     E     SI1   60.7   59.0  6.41  6.38  3.88
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
32359   1.00    Premium     F     SI2   60.2   62.0  6.53  6.45  3.91
32360   0.73  Very Good     D     SI2   60.4   59.0  5.80  5.86  3.52
32361   0.70    Premium     G     VS2   63.0   57.0  5.67  5.60  3.55
32362   0.53      Ideal     F     SI1   61.9   55.0  5.19  5.21  3.22
32363   0.56      Ideal     D     SI1   62.5   56.0  5.26  5.24  3.28

[32364 rows x 9 columns]

In [20]:
# eliminamos usando la lista de índices las filas que hemos identificado como outliers. 

final = X_sin_outliers.drop(X_sin_outliers.index[list(valores)] )
final

       carat        cut color clarity  depth  table     x     y     z
0       0.51    Premium     E     VS2   62.5   59.0  5.06  5.11  3.18
1       0.61       Good     D     SI2   59.8   62.0  5.48  5.53  3.29
2       1.01       Good     H     SI1   63.3   58.0  6.37  6.40  4.04
3       1.16    Premium     H     SI2   61.8   58.0  6.81  6.75  4.19
4       1.00    Premium     E     SI1   60.7   59.0  6.41  6.38  3.88
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
32359   1.00    Premium     F     SI2   60.2   62.0  6.53  6.45  3.91
32360   0.73  Very Good     D     SI2   60.4   59.0  5.80  5.86  3.52
32361   0.70    Premium     G     VS2   63.0   57.0  5.67  5.60  3.55
32362   0.53      Ideal     F     SI1   61.9   55.0  5.19  5.21  3.22
32363   0.56      Ideal     D     SI1   62.5   56.0  5.26  5.24  3.28

[29547 rows x 9 columns]

In [21]:
y_train = y_train.drop(X_sin_outliers.index[list(valores)] )
y_train

0        7.412
1        7.261
2        8.425
3        8.491
4        8.620
         ...
32359    8.258
32360    7.902
32361    7.775
32362    7.215
32363    7.503
Name: price, Length: 29547, dtype: float64

In [22]:
final.shape

(29547, 9)

In [23]:
final.cut.unique()

array(['Premium', 'Good', 'Very Good', 'Ideal', 'Fair'], dtype=object)

In [24]:
orden = ["Ideal", "Good", "Very Good", "Fair", "Premium"]

In [55]:
# iniciamos el método y aplicamos la transformación a los datos. 

ordinal = OrdinalEncoder(categories = [orden], dtype = int)
transformados_oe = ordinal.fit_transform(X_train[["cut"]])
transformados_oe

'ordinal = OrdinalEncoder(categories = [orden], dtype = int)\ntransformados_oe = ordinal.fit_transform(X_train[["cut"]])\ntransformados_oe'

In [27]:
# guardamos el escaler en un pickle

with open('../data/Modelo_1/ordinal_encoder.pkl', 'wb') as s:
    pickle.dump(ordinal, s)

In [28]:
# lo convertimos a dataframe

oe_df =pd.DataFrame(transformados_oe)
oe_df.head()

   0
0  4
1  1
2  1
3  4
4  4

In [29]:
final["cut_new"] = oe_df
final

       carat        cut color clarity  depth  table     x     y     z  cut_new
0       0.51    Premium     E     VS2   62.5   59.0  5.06  5.11  3.18        4
1       0.61       Good     D     SI2   59.8   62.0  5.48  5.53  3.29        1
2       1.01       Good     H     SI1   63.3   58.0  6.37  6.40  4.04        1
3       1.16    Premium     H     SI2   61.8   58.0  6.81  6.75  4.19        4
4       1.00    Premium     E     SI1   60.7   59.0  6.41  6.38  3.88        4
...      ...        ...   ...     ...    ...    ...   ...   ...   ...      ...
32359   1.00    Premium     F     SI2   60.2   62.0  6.53  6.45  3.91        4
32360   0.73  Very Good     D     SI2   60.4   59.0  5.80  5.86  3.52        2
32361   0.70    Premium     G     VS2   63.0   57.0  5.67  5.60  3.55        4
32362   0.53      Ideal     F     SI1   61.9   55.0  5.19  5.21  3.22        0
32363   0.56      Ideal     D     SI1   62.5   56.0  5.26  5.24  3.28        0

[29547 rows x 10 columns]

In [30]:
final.drop("cut", axis = 1, inplace = True)
final

       carat color clarity  depth  table     x     y     z  cut_new
0       0.51     E     VS2   62.5   59.0  5.06  5.11  3.18        4
1       0.61     D     SI2   59.8   62.0  5.48  5.53  3.29        1
2       1.01     H     SI1   63.3   58.0  6.37  6.40  4.04        1
3       1.16     H     SI2   61.8   58.0  6.81  6.75  4.19        4
4       1.00     E     SI1   60.7   59.0  6.41  6.38  3.88        4
...      ...   ...     ...    ...    ...   ...   ...   ...      ...
32359   1.00     F     SI2   60.2   62.0  6.53  6.45  3.91        4
32360   0.73     D     SI2   60.4   59.0  5.80  5.86  3.52        2
32361   0.70     G     VS2   63.0   57.0  5.67  5.60  3.55        4
32362   0.53     F     SI1   61.9   55.0  5.19  5.21  3.22        0
32363   0.56     D     SI1   62.5   56.0  5.26  5.24  3.28        0

[29547 rows x 9 columns]

In [31]:
# iniciamos el método

le = LabelEncoder()

In [32]:
transformados_le = le.fit_transform(final[["color"]])

In [33]:
# guardamos el escaler en un pickle

with open('../data/Modelo_1/le_encoder.pkl', 'wb') as s:
    pickle.dump(le, s)

In [34]:
transformados_le = le.fit_transform(final[["color"]])
final["color_enco"] = transformados_le
final

,carat,color,clarity,depth,table,x,y,z,cut_new,color_enco
0,0.51,E,VS2,62.5,59.0,5.06,5.11,3.18,4,1
1,0.61,D,SI2,59.8,62.0,5.48,5.53,3.29,1,0
2,1.01,H,SI1,63.3,58.0,6.37,6.40,4.04,1,4
3,1.16,H,SI2,61.8,58.0,6.81,6.75,4.19,4,4
4,1.00,E,SI1,60.7,59.0,6.41,6.38,3.88,4,1
...,...,...,...,...,...,...,...,...,...,...
32359,1.00,F,SI2,60.2,62.0,6.53,6.45,3.91,4,2
32360,0.73,D,SI2,60.4,59.0,5.80,5.86,3.52,2,0
32361,0.70,G,VS2,63.0,57.0,5.67,5.60,3.55,4,3
32362,0.53,F,SI1,61.9,55.0,5.19,5.21,3.22,0,2
32363,0.56,D,SI1,62.5,56.0,5.26,5.24,3.28,0,0

In [35]:
final.drop("color", axis = 1, inplace = True)
final

       carat clarity  depth  table     x     y     z  cut_new  color_enco
0       0.51     VS2   62.5   59.0  5.06  5.11  3.18        4           1
1       0.61     SI2   59.8   62.0  5.48  5.53  3.29        1           0
2       1.01     SI1   63.3   58.0  6.37  6.40  4.04        1           4
3       1.16     SI2   61.8   58.0  6.81  6.75  4.19        4           4
4       1.00     SI1   60.7   59.0  6.41  6.38  3.88        4           1
...      ...     ...    ...    ...   ...   ...   ...      ...         ...
32359   1.00     SI2   60.2   62.0  6.53  6.45  3.91        4           2
32360   0.73     SI2   60.4   59.0  5.80  5.86  3.52        2           0
32361   0.70     VS2   63.0   57.0  5.67  5.60  3.55        4           3
32362   0.53     SI1   61.9   55.0  5.19  5.21  3.22        0           2
32363   0.56     SI1   62.5   56.0  5.26  5.24  3.28        0           0

[29547 rows x 9 columns]

In [36]:
# iniciamos el método de OneHot Encoder

oh = OneHotEncoder()

In [37]:
# hacemos la codificación de los datos para la variable dada 

transformados = oh.fit_transform(final[["clarity"]])

In [38]:
# guardamos el escaler en un pickle

with open('../data/Modelo_1/oh_transformados.pkl', 'wb') as s:
    pickle.dump(oh, s)

In [39]:
# convertimos nuestro array con la codificación hecha en un dataframe

oh_df = pd.DataFrame(transformados.toarray(), dtype = int)
oh_df.head()

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  1  0  0
1  0  0  0  1  0  0  0  0
2  0  0  1  0  0  0  0  0
3  0  0  0  1  0  0  0  0
4  0  0  1  0  0  0  0  0

In [40]:
# el método get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generarán
oh_df.columns = oh.get_feature_names_out()

In [41]:
oh_df.index = final.index
oh_df

,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
32359,0,0,0,1,0,0,0,0
32360,0,0,0,1,0,0,0,0
32361,0,0,0,0,0,1,0,0
32362,0,0,1,0,0,0,0,0
32363,0,0,1,0,0,0,0,0

In [42]:
final[oh_df.columns] = oh_df
final

,carat,clarity,depth,table,x,y,z,cut_new,color_enco,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,VS2,62.5,59.0,5.06,5.11,3.18,4,1,0,0,0,0,0,1,0,0
1,0.61,SI2,59.8,62.0,5.48,5.53,3.29,1,0,0,0,0,1,0,0,0,0
2,1.01,SI1,63.3,58.0,6.37,6.40,4.04,1,4,0,0,1,0,0,0,0,0
3,1.16,SI2,61.8,58.0,6.81,6.75,4.19,4,4,0,0,0,1,0,0,0,0
4,1.00,SI1,60.7,59.0,6.41,6.38,3.88,4,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32359,1.00,SI2,60.2,62.0,6.53,6.45,3.91,4,2,0,0,0,1,0,0,0,0
32360,0.73,SI2,60.4,59.0,5.80,5.86,3.52,2,0,0,0,0,1,0,0,0,0
32361,0.70,VS2,63.0,57.0,5.67,5.60,3.55,4,3,0,0,0,0,0,1,0,0
32362,0.53,SI1,61.9,55.0,5.19,5.21,3.22,0,2,0,0,1,0,0,0,0,0
32363,0.56,SI1,62.5,56.0,5.26,5.24,3.28,0,0,0,0,1,0,0,0,0,0

In [43]:
final.drop("clarity", axis = 1, inplace = True)
final

,carat,depth,table,x,y,z,cut_new,color_enco,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,62.5,59.0,5.06,5.11,3.18,4,1,0,0,0,0,0,1,0,0
1,0.61,59.8,62.0,5.48,5.53,3.29,1,0,0,0,0,1,0,0,0,0
2,1.01,63.3,58.0,6.37,6.40,4.04,1,4,0,0,1,0,0,0,0,0
3,1.16,61.8,58.0,6.81,6.75,4.19,4,4,0,0,0,1,0,0,0,0
4,1.00,60.7,59.0,6.41,6.38,3.88,4,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32359,1.00,60.2,62.0,6.53,6.45,3.91,4,2,0,0,0,1,0,0,0,0
32360,0.73,60.4,59.0,5.80,5.86,3.52,2,0,0,0,0,1,0,0,0,0
32361,0.70,63.0,57.0,5.67,5.60,3.55,4,3,0,0,0,0,0,1,0,0
32362,0.53,61.9,55.0,5.19,5.21,3.22,0,2,0,0,1,0,0,0,0,0
32363,0.56,62.5,56.0,5.26,5.24,3.28,0,0,0,0,1,0,0,0,0,0

In [44]:
final

,carat,depth,table,x,y,z,cut_new,color_enco,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,62.5,59.0,5.06,5.11,3.18,4,1,0,0,0,0,0,1,0,0
1,0.61,59.8,62.0,5.48,5.53,3.29,1,0,0,0,0,1,0,0,0,0
2,1.01,63.3,58.0,6.37,6.40,4.04,1,4,0,0,1,0,0,0,0,0
3,1.16,61.8,58.0,6.81,6.75,4.19,4,4,0,0,0,1,0,0,0,0
4,1.00,60.7,59.0,6.41,6.38,3.88,4,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32359,1.00,60.2,62.0,6.53,6.45,3.91,4,2,0,0,0,1,0,0,0,0
32360,0.73,60.4,59.0,5.80,5.86,3.52,2,0,0,0,0,1,0,0,0,0
32361,0.70,63.0,57.0,5.67,5.60,3.55,4,3,0,0,0,0,0,1,0,0
32362,0.53,61.9,55.0,5.19,5.21,3.22,0,2,0,0,1,0,0,0,0,0
32363,0.56,62.5,56.0,5.26,5.24,3.28,0,0,0,0,1,0,0,0,0,0

In [45]:
X_test

      carat        cut color clarity  depth  table     x     y     z
0      2.01  Very Good     J     SI1   62.2   59.0  7.93  8.01  4.96
1      3.22      Ideal     I      I1   62.6   55.0  9.49  9.42  5.92
2      1.05       Fair     J     SI2   65.8   59.0  6.41  6.27  4.18
3      1.01  Very Good     E     VS1   62.1   58.0  6.39  6.45  3.99
4      0.34      Ideal     G     VS2   61.5   55.0  4.47  4.50  2.76
...     ...        ...   ...     ...    ...    ...   ...   ...   ...
8086   0.59      Ideal     E     SI1   62.0   55.0  5.40  5.37  3.34
8087   1.27      Ideal     F    VVS2   61.0   57.0  6.98  7.02  4.27
8088   0.42      Ideal     H     VS1   62.4   57.0  4.79  4.76  2.98
8089   0.30  Very Good     H     VS1   63.1   57.0  4.26  4.24  2.68
8090   1.19      Ideal     I     SI1   63.7   57.0  6.73  6.69  4.28

[8091 rows x 9 columns]

In [46]:
ordinal.transform(X_test[["cut"]])

array([[2],
       [0],
       [3],
       ...,
       [0],
       [2],
       [0]])

In [47]:
# lo convertimos a dataframe

oe_df1 =pd.DataFrame(ordinal.transform(X_test[["cut"]]))
oe_df1.head()

   0
0  2
1  0
2  3
3  2
4  0

In [48]:
final_test = X_test.copy()
final_test

      carat        cut color clarity  depth  table     x     y     z
0      2.01  Very Good     J     SI1   62.2   59.0  7.93  8.01  4.96
1      3.22      Ideal     I      I1   62.6   55.0  9.49  9.42  5.92
2      1.05       Fair     J     SI2   65.8   59.0  6.41  6.27  4.18
3      1.01  Very Good     E     VS1   62.1   58.0  6.39  6.45  3.99
4      0.34      Ideal     G     VS2   61.5   55.0  4.47  4.50  2.76
...     ...        ...   ...     ...    ...    ...   ...   ...   ...
8086   0.59      Ideal     E     SI1   62.0   55.0  5.40  5.37  3.34
8087   1.27      Ideal     F    VVS2   61.0   57.0  6.98  7.02  4.27
8088   0.42      Ideal     H     VS1   62.4   57.0  4.79  4.76  2.98
8089   0.30  Very Good     H     VS1   63.1   57.0  4.26  4.24  2.68
8090   1.19      Ideal     I     SI1   63.7   57.0  6.73  6.69  4.28

[8091 rows x 9 columns]

In [49]:
final_test["cut_new"] = oe_df1
final_test

      carat        cut color clarity  depth  table     x     y     z  cut_new
0      2.01  Very Good     J     SI1   62.2   59.0  7.93  8.01  4.96        2
1      3.22      Ideal     I      I1   62.6   55.0  9.49  9.42  5.92        0
2      1.05       Fair     J     SI2   65.8   59.0  6.41  6.27  4.18        3
3      1.01  Very Good     E     VS1   62.1   58.0  6.39  6.45  3.99        2
4      0.34      Ideal     G     VS2   61.5   55.0  4.47  4.50  2.76        0
...     ...        ...   ...     ...    ...    ...   ...   ...   ...      ...
8086   0.59      Ideal     E     SI1   62.0   55.0  5.40  5.37  3.34        0
8087   1.27      Ideal     F    VVS2   61.0   57.0  6.98  7.02  4.27        0
8088   0.42      Ideal     H     VS1   62.4   57.0  4.79  4.76  2.98        0
8089   0.30  Very Good     H     VS1   63.1   57.0  4.26  4.24  2.68        2
8090   1.19      Ideal     I     SI1   63.7   57.0  6.73  6.69  4.28        0

[8091 rows x 10 columns]

In [50]:
transformados_le1 = le.transform(final_test[["color"]])
transformados_le1

array([6, 5, 6, ..., 4, 4, 5])

In [51]:
final_test["color_enco"] = transformados_le1
final_test

,carat,cut,color,clarity,depth,table,x,y,z,cut_new,color_enco
0,2.01,Very Good,J,SI1,62.2,59.0,7.93,8.01,4.96,2,6
1,3.22,Ideal,I,I1,62.6,55.0,9.49,9.42,5.92,0,5
2,1.05,Fair,J,SI2,65.8,59.0,6.41,6.27,4.18,3,6
3,1.01,Very Good,E,VS1,62.1,58.0,6.39,6.45,3.99,2,1
4,0.34,Ideal,G,VS2,61.5,55.0,4.47,4.50,2.76,0,3
...,...,...,...,...,...,...,...,...,...,...,...
8086,0.59,Ideal,E,SI1,62.0,55.0,5.40,5.37,3.34,0,1
8087,1.27,Ideal,F,VVS2,61.0,57.0,6.98,7.02,4.27,0,2
8088,0.42,Ideal,H,VS1,62.4,57.0,4.79,4.76,2.98,0,4
8089,0.30,Very Good,H,VS1,63.1,57.0,4.26,4.24,2.68,2,4
8090,1.19,Ideal,I,SI1,63.7,57.0,6.73,6.69,4.28,0,5

In [61]:
transformados1 = oh.transform(final_test[["clarity"]])
transformados1

<8091x8 sparse matrix of type '<class 'numpy.float64'>'
	with 8091 stored elements in Compressed Sparse Row format>

In [62]:
oh_df1 = pd.DataFrame(transformados1.toarray(), dtype = int)
oh_df1.head()

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  1
1  0  0  1  0  0  0  0  0
2  0  0  0  0  0  1  0  0
3  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0

In [63]:
oh_df1.columns = oh.get_feature_names_out()

In [64]:
oh_df1.index = final_test.index
oh_df1

,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
8086,0,0,0,1,0,0,0,0
8087,0,0,0,0,1,0,0,0
8088,0,0,0,1,0,0,0,0
8089,0,0,1,0,0,0,0,0
8090,0,0,0,0,0,0,0,1

In [65]:
final_test[oh_df.columns] = oh_df1
final_test

,carat,cut,color,clarity,depth,table,x,y,z,cut_new,color_enco,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.71,Very Good,D,VVS2,61.7,58.0,5.71,5.74,3.53,2,0,0,0,0,0,0,0,0,1
1,0.90,Fair,D,SI1,60.4,61.0,6.24,6.22,3.76,3,0,0,0,1,0,0,0,0,0
2,0.73,Premium,H,VS2,61.0,58.0,5.76,5.84,3.54,4,4,0,0,0,0,0,1,0,0
3,1.04,Premium,G,SI1,61.4,57.0,6.56,6.50,4.01,4,3,0,0,1,0,0,0,0,0
4,0.31,Ideal,G,IF,61.7,56.0,4.34,4.38,2.69,0,3,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8086,0.91,Ideal,G,SI2,62.2,57.0,6.18,6.24,3.86,0,3,0,0,0,1,0,0,0,0
8087,1.01,Very Good,G,VS1,63.6,57.0,6.34,6.36,4.04,2,3,0,0,0,0,1,0,0,0
8088,0.77,Very Good,F,SI2,61.1,59.0,5.85,5.95,3.59,2,2,0,0,0,1,0,0,0,0
8089,0.32,Ideal,F,SI1,61.3,55.0,4.44,4.47,2.73,0,2,0,0,1,0,0,0,0,0
8090,1.03,Ideal,F,VVS2,62.0,56.0,6.45,6.48,4.01,0,2,0,0,0,0,0,0,0,1

In [66]:
final_test.drop(["cut", "color", "clarity"], axis=1, inplace=True)
final_test

,carat,depth,table,x,y,z,cut_new,color_enco,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.71,61.7,58.0,5.71,5.74,3.53,2,0,0,0,0,0,0,0,0,1
1,0.90,60.4,61.0,6.24,6.22,3.76,3,0,0,0,1,0,0,0,0,0
2,0.73,61.0,58.0,5.76,5.84,3.54,4,4,0,0,0,0,0,1,0,0
3,1.04,61.4,57.0,6.56,6.50,4.01,4,3,0,0,1,0,0,0,0,0
4,0.31,61.7,56.0,4.34,4.38,2.69,0,3,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8086,0.91,62.2,57.0,6.18,6.24,3.86,0,3,0,0,0,1,0,0,0,0
8087,1.01,63.6,57.0,6.34,6.36,4.04,2,3,0,0,0,0,1,0,0,0
8088,0.77,61.1,59.0,5.85,5.95,3.59,2,2,0,0,0,1,0,0,0,0
8089,0.32,61.3,55.0,4.44,4.47,2.73,0,2,0,0,1,0,0,0,0,0
8090,1.03,62.0,56.0,6.45,6.48,4.01,0,2,0,0,0,0,0,0,0,1

In [67]:
# Grid de hiperparámetros evaluados
# ==============================================================================
param = {"max_depth": [32,34],
         "min_samples_split": [10,20,30],
         "max_features": [5,6,7], 
         "min_samples_leaf": [10,20,30]}


# Búsqueda por grid search con validación cruzada (cross-validarion)
# ==============================================================================
random_forest = GridSearchCV(
        estimator = RandomForestRegressor(), 
        param_grid = param, 
        n_jobs = -1,
        verbose = 1,  
        cv = 10, 
        return_train_score = True, 
        scoring = "neg_mean_squared_error")

In [68]:
y_train

1        6.225
2        8.550
4        7.739
5        7.773
8        9.284
         ...
32359    6.808
32360    9.146
32361    8.067
32362    9.227
32363    7.393
Name: price, Length: 29554, dtype: float64

In [69]:
%%time
random_forest.fit(final, y_train)

Fitting 10 folds for each of 54 candidates, totalling 540 fits
CPU times: total: 10.1 s
Wall time: 8min 21s

GridSearchCV(cv=10, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [32, 34], 'max_features': [5, 6, 7],
                         'min_samples_leaf': [10, 20, 30],
                         'min_samples_split': [10, 20, 30]},
             return_train_score=True, scoring='neg_mean_squared_error',
             verbose=1)

In [70]:
random_forest.best_params_

{'max_depth': 34,
 'max_features': 7,
 'min_samples_leaf': 10,
 'min_samples_split': 20}

In [71]:
# guardamos el escaler en un pickle

with open('../data/Modelo_1/random_for_regre_model.pkl', 'wb') as s:
    pickle.dump(random_forest, s)